

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
    
@-webkit-keyframes body { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes body { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes body { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in, body {
    
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
    }

.fade-in.one, body{
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}

p,a{
    font-family: 'Montserrat', sans-serif;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.side{
    display:flex;
    flex: 15%;
    background-color:white;
    padding:0;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    -webkit-box-shadow: 10px 0px 20px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 0px 20px rgba(0,0,0,0.3);
    box-shadow: 10px 0px 20px rgba(0,0,0,0.3);
    
}

.navBox{

    padding:20px;
    height: 85%;
    width: 75%;
    display:flex;
    flex-direction: column;
    align-items: center;

    
   
}

.navBox>div{
    margin: 10px;

}

.navBox>div>ul{
    list-style-type: none;
    padding:0;
    margin-top:50px;
}

.navBox>div>ul>li{
    display: block;
}

.navBox>div>ul>li>a{
    display: block;
    text-decoration:none;
    padding:20px;;
    text-align:center;
    color:#000;
    font-weight: bold;
    
}

.navBox>div>ul>li>a:hover{
    text-decoration: line-through wavy;
    color: teal;
    transition: ease;
    transition-duration: 0.5s;
}

#connect{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    width:150px; 
    height:50px; 
    margin-top:300px;
}

#connect>a{
    margin-right: 10px;
    color: black;
}

#connect>a:hover{
    text-decoration: line-through wavy;
    color: teal;
    transition: ease;
    transition-duration: 0.5s;
}

.move{
    width: 75%;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightgray; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      transition: ease-in-out;
      transition-duration: 0.5s;
      background: teal; 
      opacity: 0.5;
  }

/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* ----------------       Media Query      ---------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
@media screen and (max-width: 1800px) {

    .row{
        flex-direction: column;
    }

    .navBox{

        padding:5px;
        height: 10%;
        flex-direction: row;
        justify-content: center;

    
        
       
    }
    .navBox>div{
        margin: 5px;
    
    }

    .navBox>div>ul{
        list-style-type: none;
        padding:0;
        margin-top:25px;
    }


    .navBox>div>ul>li{
        display: inline-block;
    }

    .navBox>div>ul>li>a{
        display: inline-block;
        text-decoration:none;
        text-align:center;
        color:#000;
        font-weight: bold;
        
    }

    #connect{
        display:none;
    }

    #logo{
        display:none;
    }
}

@media screen and (max-width: 1400px) {

    .row{
        flex-direction: column;
    }

    .navBox{

        padding:5px;
        height: 10%;
        flex-direction: row;
        justify-content: center;

    
        
       
    }
    .navBox>div{
        margin: 5px;
    
    }

    .navBox>div>ul{
        list-style-type: none;
        padding:0;
        margin-top:25px;
    }


    .navBox>div>ul>li{
        display: inline-block;
    }

    .navBox>div>ul>li>a{
        display: inline-block;
        text-decoration:none;
        text-align:center;
        color:#000;
        font-weight: bold;
        
    }

    #connect{
        display:none;
    }

    #logo{
        display:none;
    }
}
  
  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 600px) {

    .row{
        flex-direction: column;
    }

    .navBox{

        padding:5px;
        height: 10%;

    
        
       
    }
    .navBox>div{
        margin: 5px;
    
    }


    .navBox>div>ul>li{
        display: inline-block;
    }

    .navBox>div>ul>li>a{
        display: inline-block;
        text-decoration:none;
        text-align:center;
        color:#000;
        font-weight: bold;
        
    }

    #connect{
        display:none;
    }

    #logo{
        display:none;
    }


    
  }